.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
}
.widget .left,
.widget .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.widget .title {
  font-weight: bold;
  color: rgb(160, 160, 160);
  margin-left: 30px;
}

.widget .info {
  margin-left: 30px;
}

.widget .right {
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}
